
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



/* Colors */

/*
60% of #2E6970 - Primary
30% of #386936 - Secondary
10% of #543212 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #A3B8CF;

/* var(--secondaryColor) !important; */
--secondaryColor: #386936;

/* var(--accentColor) !important; */
--accentColor: #2E6970;

/* var(--fontFamily) !important; */
--fontFamily: "Mulish", sans-serif;

}