@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Colors */
/*
60% of #0F4C5C - Primary
30% of #24523D - Secondary
10% of #F4A640 - Accent
*/

:root {
  --primaryColor: #0F4C5C;
  --secondaryColor: #24523D;
  --accentColor: #F4A640;
  --fontFamily: "Mulish", sans-serif;
}

/* Make the event heading white */
.lottiefiles h2 {
  color: #ffffff !important;
}

/* Make footer links white */
.blinn-footer-container a {
  color: #ffffff !important;
  text-decoration: none;
}

/* Hover color for footer links */
.blinn-footer-container a:hover {
  color: var(--accentColor) !important;
}
