
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



/* Colors */

/*
60% of #32D4CF - Primary
30% of #3AB559 - Secondary
10% of #2E6970 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #32D4CF;

/* var(--secondaryColor) !important; */
--secondaryColor: #3AB559;

/* var(--accentColor) !important; */
--accentColor: #2E6970;

/* var(--fontFamily) !important; */
--fontFamily: "Mulish", sans-serif;

}