
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



/* Colors */

/*
60% of #0F4C5C - Primary
30% of #2E6B3E - Secondary
10% of #D9A441 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #0F4C5C;

/* var(--secondaryColor) !important; */
--secondaryColor: #2E6B3E;

/* var(--accentColor) !important; */
--accentColor: #D9A441;

/* var(--fontFamily) !important; */
--fontFamily: "Mulish", sans-serif;

}