@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Colors */
/*
60% of #0F4C5C - Primary
30% of #24523D - Secondary
10% of #084134 - Accent
*/

:root {
  --primaryColor: #0F4C5C;
  --secondaryColor: #24523D;
  --accentColor: #084134;
  --fontFamily: "Mulish", sans-serif;
}

/* ----- FIX FOOTER LINKS ----- */

.blinn-footer-container a,
.blinn-footer-container a:visited {
  color: #ffffff !important;
  text-decoration: none !important;
}

.blinn-footer-container a:hover {
  color: var(--accentColor) !important;
}

