
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



/* Colors */

/*
60% of #0F4C5C - Primary
30% of #24523D - Secondary
10% of #F4A640 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #0F4C5C;

/* var(--secondaryColor) !important; */
--secondaryColor: #24523D;

/* var(--accentColor) !important; */
--accentColor: #F4A640;

/* var(--fontFamily) !important; */
--fontFamily: "Mulish", sans-serif;



}
.lottiefiles h2 {
  color: #ffffff !important;
}
