
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



/* Colors */

/*
60% of #60BF40 - Primary
30% of #4060BF - Secondary
10% of #BF4060 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #2E6970;

/* var(--secondaryColor) !important; */
--secondaryColor: #386936;

/* var(--accentColor) !important; */
--accentColor: #543212;

/* var(--fontFamily) !important; */
--fontFamily: "Mulish", sans-serif;

}